.form1 {
    background-color: white
}
.form1 {
    margin: 40px;
    padding: 37px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: black;
    font-family: sans-serif;
    display: flex;
    border: solid 5px #154360;
}