
.imgnos {
    width: 200px;

}

#Nosotros {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 1.3rem;
    font-family: 'raleway', sans-serif;
    font-weight: lighter;
    display: flex;
    text-align:left
    border solid 5px #154360;

}